<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to the Jungle !</h1>
  <p>You have successfully signed up to the jungle</p>
  <p>Congrats, <%= @user.first_name %></p>
</body>
</html>