// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "reviews";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#navbar li p {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: .9em;
}

@media screen and (max-width: 992px) {
  #navbar li p {
    display: none;
  }
}
