<div>
  <h1>Post a Comment: </h1>
  <%= form_for :review, url: product_reviews_path(@product), html: { multipart: true} do |f| %>
    Rating : <%= select_tag(:rating, raw('<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option>')) %><br />
    Description : <br /><%= f.text_area :description, :style => "width: 60%;" %><br />
    <%= f.submit %>
  <% end %>
</div>
