<div>
  <div class="col-sm-6">
    <%= get_review_user(review.user_id) %>
  </div>
  <div class="col-sm-6">
    <%= review.rating %>
  </div>
  <div class="col-12">
    <%= review.description %>
  </div>
  <div>
    <% if (current_user && same_user?(review.user_id)) %>
    <% puts "===============================================================" %>
    <% puts link_to 'Destroy', [review.product, review] %>
    <%= link_to 'Destroy', [review.product, review], :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </div>
</div>
